html {
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

i.fa {
  color: white;
  font-size: 6em; }

h1 {
  color: white; }

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(225px, auto);
  grid-gap: .5em; }
  @media screen and (min-width: 640px) {
    .container {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (min-width: 900px) {
    .container {
      grid-template-columns: repeat(5, 1fr); } }

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
  border-radius: 3px; }

.item-github {
  background: #333; }
  @media screen and (min-width: 900px) {
    .item-github {
      grid-row: 1 / 3; } }

.item-trello {
  background: #0079bf; }

.item-youtube {
  background: #cd201f; }
  @media screen and (min-width: 900px) {
    .item-youtube {
      grid-column: 3 / 5; } }

.item-codepen {
  background: #0ebeff; }

.item-dropbox {
  background: #007ee5; }

.item-google-fonts {
  background: #dd4b39; }

.item-sheets {
  background: #34A853; }

.item-behance {
  background: #1769ff; }

.item-trello {
  background: #0079bf; }

.item-freecodecamp {
  background: #006400; }

.item-udemy {
  background: #ea5252; }

.item-stackoverflow {
  background: #f48024; }

.item-keep {
  background: #fbbc05; }
  @media screen and (min-width: 900px) {
    .item-keep {
      grid-area: 2 / 5 / 4 / 6; } }
